.about {
  background-image: url('../images/about_bg.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* position: relative; */
  margin-top: 90px;
  padding: 90px 0;
  height: 750px;
  }

.blabla {
  background-image: url('../images/about.png');
}

.inside {
  display: flex;
  align-items: center;
  text-align: left;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  height: 100%;
  width: 100%;
}

.column1 {
  flex-basis: 42%;
}

.column1 h2 {
  font-size: 40px;
  letter-spacing: normal;
  line-height: 40px;
  font-weight: bold;
}

.column1 p {
  line-height: 25px;
  padding-top: 40px;
}

.column2 {
  flex-basis: 58%;
  display: flex;
  justify-content: center;
}
