* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

div {
  display: block;
}

.full_bg {
  background-color: rgb(231, 112, 100);
  color: rgb(102, 102, 102);
  font-size: 14px;
  height: 90px;
  line-height: 25.32px;
  text-align: left;
  width: 100%;
}

.header {
  padding: 29px 20px;
  height: 90px;
}

.container {
  /* margin: auto auto; */
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 -15px; */
  margin-right: -15px;
  margin-left: -15px;
  text-align: left;
}

.logo_section {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  position: relative;
  width: 292.5px;
  display: inline-block;
}

.logo a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  outline: none;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navigation_container {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30.9125px;
  max-width: 75%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: 877.5px;
  display: inline-block;
}

.navbar {
  align-items: center;
  float: right;
  height: 27.3125px;
  justify-content: flex-start;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 2px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
}

.navbar_collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
  text-size-adjust: 100%;
}

.navbar_nav {
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.32px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
}

.nav_link {
  font-size: 17px;
  font-weight: 400;
  outline-width: 0px;
  padding: 0px 35px;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5 ease;
}

.nav_link:hover {
  background-color: #fff;
  color: #000;
}

.black_re {
  background-color: rgb(66, 61, 49);
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

.footer {
  background-color: #252525;
  margin-top: 90px;
}

.copyright {
  height: 68px;
}

.copyright-text {
  color: #fff;
}
